/* CSS file for Homework #5 */

body {
  background-image: url(../images/gane.jpg);
  color: rgb(238, 90, 171);
  text-align: left;
  font-family: "Rock Salt", cursive;
  width: 100%;

  /* font-family:'Righteous', cursive; */
}

.cover-heading {
  margin-top: 40px;
  font-size: 80px;
}

#game-start {
  margin-top: 70px;
  font-size: 40px;
}

#countdown {
  font-size: 26px;
  color: rgb(11, 7, 255);
}

#game-done {
  font-size: 40px;
}

.lead2 {
  font-size: 30px;
  color: rgb(8, 8, 8);
}

.quest {
  font-size: 26px;
  color: rgb(106, 255, 7);
}

.text-mysize {
  font-size: 20px;
}
